#title {
  color: red !important; /* !important << ovverride(덮어쓰기 금지) */
  text-decoration: underline;
}

#box { 
  width: 100px;
  height: 100px;
  border: 3px solid blue;
   background-color: burlywood;/*금메달  */
}

div {
  background-color: pink; /*동메달 */
}
.foo { 
  background-color: aquamarine; /*은메달 */
}

